.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 170px;
    text-align: center;
    padding: 50px 10px;
    margin: auto;
}
.centerThisShit
{
    margin: auto;
    text-align: center;
}

.mdl-dialog__actions
{
    width: 50%;
    margin: auto;
    margin-top:10%;
}
.mdl-dialog__actions a, .mdl-dialog__actions button
{
    display: block;
}
